@import "../../responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gruppo&family=Marcellus&display=swap');
// font-family: Gruppo;
// font-family: Chakra Petch;
// font-family: Marcellus;


.newPostPage {
  height: 100%;
  display: flex;
  text-transform: capitalize;

  @include mob{
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
    height: 90vh;
  }

  h1{
    margin-bottom: 10px;
    font-family: Chakra Petch;
        font-weight: 1000;
        -webkit-text-stroke: 1px #B78F75;
        color: transparent;

  }

  .formContainer {
    flex: 3;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #161616;
    height: 90vh;
    padding: 30px;

    @include mob{
      flex:none;
      overflow: scroll;
      height: max-content;
    }

    .wrapper {
   
      form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;

        @include mob{
          flex-direction: column;
     
        }

        .item {
          width: 30%;
          display: flex;
          flex-direction: column;
          gap: 5px;

          @include mob{
            width: 100%;
          }

          label {
            color: #8a8a8a;
            margin-left: 5px;
            font-size: 18px;
          font-weight: 800;
          font-family: Gruppo;
          }

          input {
            padding: 20px;
            border-radius: 5px;
            color: white;
            border: 1px solid black;
            background-color: rgba(255, 255, 255, 0.13);
            backdrop-filter: blur(10px);
            outline: none;
            text-transform: capitalize;
            font-family: Marcellus;
            font-size: 16px;


            &:focus {
              border: 1px solid white;
            }

            @include mob{
            }
          }

          select {
            padding: 19px;
            color: white;
            border: 1px solid black;
            background-color: rgba(255, 255, 255, 0.13);
            backdrop-filter: blur(10px);
            outline: none;
            font-family: Marcellus;
            font-size: 16px;
            border-radius: 5px;


            option{
              background-color: #161616;
              color: white;
          }

            &:focus {
              border: 1px solid white;
            }
          }

          &.description {
            width: 100%;
            height: 320px;


            .quill > .ql-container > .ql-editor {
              height: 200px;
              font-size: 16px;
              color: white;
              font-family: Marcellus;
              text-transform: none;

              @include mob{
                height: 150px;
              }

              
            }
          }
        }
        .sendButton {
          width: 30%;
          height: 50px;
          border-radius: 15px;
          border: none;
          background-color: #161616;
          border: 1px solid #b78f75 ;
          color: white;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer;
          font-family: Gruppo;

          @include mob{
            height: 50px;
          }
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 88vh;
    padding: 20px;

    @include mob{
      flex:none;
      height: max-content;
      overflow: scroll;
    }

    img {
      width: 50%;
      height: 180px;
      object-fit: cover;
      border-radius: 5px;

      @include mob{
        width: 100%;
      }
    }
  }
}
